version: '3.8'
services:
  jenkins:
    image: jenkins/jenkins:2.440.2-lts
    container_name: jenkins
    restart: always
    privileged: true
    ports:
      - '8080:8080'
      - '50000:50000'
    volumes:
      - /home/jenkins:/var/jenkins_home
